.cart{
    display: flex;
    padding: 20px;
    background-color: white;
    height: max-content;
}
.cart_heading{
    margin-right: 10px;
    padding: 10px;
    border-bottom: 1px solid lightgray;
}
