* {
  margin: 0;
  padding: 0;
}
.more{
  padding-top: 30px;
}
.home {
  margin-top: 25px;
  display: flex;
  text-decoration: none;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  z-index: 10;
  background-color: rgb(234, 235, 236);
  /* max-width: 1500px; */
  -moz-box-shadow: 3px 3px 5px 6px rgb(234, 235, 236);
  -webkit-box-shadow: 3px 3px 5px 6px rgb(234, 235, 236);
  box-shadow: 3px 3px 5px 6px rgb(234, 235, 236);
}
.mr{
  text-align: center;
  /* float:right; */
  /* align-items: center; */
  /* justify-content: center; */
  /* padding-left: 50px; */
}
.home input[type="submit"] {
  height: 42px;
  width: 200px;
  font-size: 18px;
  /* justify-content: center; */
  color: #ffffff;
  background: #0888ff;
  outline: none;
  border-radius: 10px;
  letter-spacing: 1px;
  cursor: pointer;
  margin-top: 12px;
  border: 2px solid #0669eb;
  transition: all 0.3s ease-in-out;
}
.home input[type="submit"]:hover {
  background: #ffffff;
  color: #000000;
}
.home_row {
  display: flex;
  /* background-color: #2f9083; */
  z-index: 1;
  margin-left: 5px;
  margin-right: 5px;
  padding: 20px;
  justify-content: center;
}

.zoomImg {
  z-index: 10;
}

@media screen and (max-width: 700px) {
  .home_row {
    flex: 0 1 34rem;
    flex-wrap: wrap;
  }
}
.home_image {
  width: 100%;
  z-index: -1;
  margin-bottom: -150;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}
