*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body{
    padding-top: 100px;
}
.cont{
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(84, 147, 184, 0.5),
    0 6px 20px 0 rgba(84, 147, 184, 0.6);
    width: 100%;
}
.image{
    /* width: 530px; */
    width: 100%;
    object-fit: cover;
}
.row{
    /* background: white; */
    border-radius: 10px;
}
.bt{
    width: 100%;
}