/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body{
    min-height: 10vh;
    display: flex;
    align-items: center;
    padding-left: 130px;
}
div label{
    cursor: pointer;
}
div label span{
    position: relative;
    z-index: 10;
    color: white;
    background: #0669eb;
    width: 50px;
    height: 50px;
    padding-top: 14px;
    text-align: center;
    border-radius: 50%;
    font-size: 22px;
    transition: 0.4s;
}
div label span:hover{
    background-color: rgb(71, 166, 255);
    color: black;
}


.body  .ip{
    display: none;
}
div .ii{
    cursor: pointer;
    position: absolute;
    transform: translateY(5px) translateX(5px);
    width: 40px;
    height: 40px;
    padding-top: 11px;
    border-radius: 50%;
    color: aliceblue;
    background-color: transparent;
    font-size: 18px;
    opacity: .2;
    transition: .4s;
}
.body  .ip:checked ~ div label span{
    transform: rotate(180deg);
}
.body  .ip:checked ~ div .ii{
    opacity: 1;
}
.body  .ip:checked ~ div .ii:nth-child(1){
    transform: translateY(70px) translateX(5px);
    transition-delay: .8s;
}
.body  .ip:checked ~ div .ii:nth-child(2){
    transform: translateY(-60px) translateX(5px);
    transition-delay: .4s;
}
.body  .ip:checked ~ div .ii:nth-child(3){
    transform: translateY(5px) translateX(70px);
    transition-delay: .6s;
}
.body  input:checked ~ div .ii:nth-child(4){
    transform: translateY(5px) translateX(-60px);
    transition-delay: .2s;
} */
