.subtotal {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* align-items:flex-start ; */
  align-items: center;
  justify-content: space-between;
  width: 300px;
  height: 100px;
  background-color: white;
  margin-top: 50px;
  border-radius: 3px;
  padding: 1px 0 10px 0;
  margin-bottom: 20x;
}
.subtotal > a button {
  background: rgba(255, 255, 255, 0);
  border-radius: 15px;
  height: 30px;
  /* padding-left: 10px; */
  width: 100%;
  border: 1px rgb(28, 100, 209) solid;
  margin-top: 10px;
  color: black;
}
.subtotal > a  > button:hover {
  background-color: rgb(28, 100, 209);
  cursor: pointer;
  color: white
}